<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="_101_GASSMANN_MALONZO_projet.My.MySettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_101_GASSMANN_MALONZO_projet.My.MySettings>
            <setting name="PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="TEMPS_PARTIE" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DECOMPTER_TEMPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOUTON_PAUSE" serializeAs="String">
                <value>False</value>
            </setting>
        </_101_GASSMANN_MALONZO_projet.My.MySettings>
    </userSettings>
               </configuration>